body {
    margin: 0;

    background-color: #1e1e1e;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}

.list {
    max-width: 20em;
    margin: 1em auto;
    padding: 0;

    background-color: #1e1e1e;
    box-shadow: 0 0 1.5rem -.2rem rgba(0, 0, 0, 0.65);
    list-style: none;
}

.list li {
    position: relative;

    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;

    transition: background-color 0.2s ease-out;
}

.list li:last-child {
    border-bottom: 0 none;
}

.list .active {
    background-color: #161616;
    text-shadow: 1px 1px 0 #161616, -1px 1px 0 #161616, -1px -1px 0 #161616, 1px -1px 0 #161616;
}

.list a {
    display: block;
    padding: 1rem 2rem;
    position: relative;

    cursor: pointer;
}

.list .titles {
    display: flex;

    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    font-size: 75%;
    opacity: 0;

    transition: opacity .2s ease-out, transform .2s ease-out;
    transform: rotateX(.25turn);
    transform-origin: top;
}

.list .title,
.list .subtitle {
    display: block;
    height: 0;
    transition: height .2s ease-in-out, padding .2s ease-in-out;
}

.list .active .titles {
    opacity: 1;

    transform: none;
}

.list .active .title:not(:empty) {
    height: 1rem;
    padding-top: .25rem;

    font-weight: 500;
}

.list .active .subtitle:not(:empty) {
    height: 1rem;
    padding-top: .25rem;
}

.list .active .station {
    background-color: rgba(22, 22, 22, 0.4);
    box-shadow: 0 0 .25rem .25rem rgba(22, 22, 22, 0.4);
}

.visualization {
    width: 100%;
    height: 3.75rem;
    
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.list .visualization {
    opacity: 0;

    transition: opacity .2s ease-out;
}

.list .active .visualization {
    opacity: 1;
}

.visualization .path,
.visualization .path-glow {
    stroke: #487df5;
}