:root {
    --bg-color: #000;
    --text-color: #fff;

    --station-color: #8a9abf;
    --station-color-active: #fff;

    --eq-color: #487df5;
}

body {
    margin: 0;

    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}

.list {
    width: 82%;
    max-width: 40em;
    margin: 1em auto 6.5rem;
    padding: 0;

    list-style: none;
}

.list li {
    position: relative;

    text-align: center;
    text-shadow: 1px 1px 0 var(--bg-color), -1px 1px 0 var(--bg-color), -1px -1px 0 var(--bg-color), 1px -1px 0 var(--bg-color);

    transition: transform 0.2s ease-out;
}

.list a {
    display: block;
    padding: 1rem 2rem;
    position: relative;

    cursor: pointer;
}

.list .station {
    color: var(--station-color);

    transition: color .2s;
}

.list .title {
    display: flex;

    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    font-size: 75%;
    opacity: 0;

    transition: opacity .2s ease-out, transform .2s ease-out;
    transform: rotateX(.25turn);
    transform-origin: top;
}

.list .song,
.list .artist {
    display: block;
    height: 0;
    transition: height .2s ease-in-out, padding .2s ease-in-out;
}

.list > .active {
    transform: scale(1.2);
}

.list > .active .title {
    opacity: 1;

    transform: none;
}

.list > .active .song.active {
    height: 1rem;
    padding-top: .25rem;

    font-weight: 500;
}

.list > .active .artist.active {
    height: 1rem;
    padding-top: .25rem;
}

.list > .active .station {
    color: var(--station-color-active);
}

.equalizer-container {
    width: 100%;

    position: fixed;
    bottom: 0;
    z-index: 1;

    background: var(--bg-color);
}

.equalizer-container::before {
    content: '';

    display: block;
    height: 1.5rem;
    width: 100%;
    
    position: absolute;
    top: -1.5rem;

    background-image: linear-gradient(transparent, var(--bg-color));
    background-repeat: repeat;
}

.equalizer {
    display: block;
    width: 20rem;
    height: 4rem;
    margin: 0 auto;
    padding-bottom: 1rem;
    
}

.equalizer .frequency {
    stroke: var(--eq-color);
    stroke-width: 4;
    stroke-linecap: round;
}
