body {
    margin: 0;

    background-color: #161616;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}

.list {
    width: 82%;
    max-width: 40em;
    margin: 1em auto 6.5rem;
    padding: 0;

    list-style: none;
}

.list li {
    position: relative;

    text-align: center;
    text-shadow: 1px 1px 0 #161616, -1px 1px 0 #161616, -1px -1px 0 #161616, 1px -1px 0 #161616;

    transition: transform 0.2s ease-out;
}

.list a {
    display: block;
    padding: 1rem 2rem;
    position: relative;

    cursor: pointer;
}

.list .station {
    color: #8a9abf;

    transition: color .2s;
}

.list .title {
    display: flex;

    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    font-size: 75%;
    opacity: 0;

    transition: opacity .2s ease-out, transform .2s ease-out;
    transform: rotateX(.25turn);
    transform-origin: top;
}

.list .song,
.list .artist {
    display: block;
    height: 0;
    transition: height .2s ease-in-out, padding .2s ease-in-out;
}

.list > .active {
    transform: scale(1.2);
}

.list > .active .title {
    opacity: 1;

    transform: none;
}

.list > .active .song.active {
    height: 1rem;
    padding-top: .25rem;

    font-weight: 500;
}

.list > .active .artist.active {
    height: 1rem;
    padding-top: .25rem;
}

.list > .active .station {
    color: #fff;
}

.equalizer {
    width: 20rem;
    height: 4rem;

    position: fixed;
    left: calc(50% - 10rem);
    bottom: 1rem;
    z-index: 1;
    
    background: #161616;
    box-shadow: 0 0 .5rem 1rem #161616, 0 1rem 0 0 #161616;
}

.equalizer .frequency {
    stroke: #487df5;
    stroke-width: 4;
    stroke-linecap: round;
}
