body {
    margin: 0;

    background-color: #1e1e1e;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.list {
    max-width: 20em;
    margin: 1em auto;
    padding: 0;

    background-color: #1e1e1e;
    box-shadow: 0 0 1.5rem -.2rem rgba(0, 0, 0, 0.65);
    list-style: none;
}

.list li {
    padding: 1rem 2rem;
    position: relative;
    
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.list li:last-child {
    border-bottom: 0 none;
}

.list .active::before {
    content: '▶';
    display: block;

    position: absolute;
    top: 1rem;
    right: 1rem;

    color: #244fa6;
    font-size: 1rem;
}